.box{
  padding-top: 50px;
  padding-bottom: 50px;
  margin:0 auto;
  width: 80%;
  text-align: center;
}

#twitter_login_button{
  width: 100%;
  
}

#searchword_button{
  width: 100%;
  margin-bottom: 10px;
}

#timeline_button{
  width: 100%;
  margin-bottom: 10px;
}

#logout_button{
  width: 100%;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}